@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 style="font-family: 'Agency FB';">Northwest Labs</h2>
            <p>
                Northwest Labs is the industry leader for Chemical and Compound testing and in-depth assay analysis. 
                Over their 17+ years of experience they have gained a reputation for their precise, well documented 
                tests and accurate reports.
            </p>
        </div>
    </div>
    <div class="row" style="font-family: 'Agency FB'">
        <div class=" col-md-12">
        <h2 class="page-header" ;">Our Team</h2>
    </div>
        <div class="col-md-12 text-center center-block">
            <img class="img-circle img-responsive img-center img-sizing" src="~/Content/Images/imageplaceholder.png" alt="">
            <h3>
                Daniel McKay
                <small>President and CEO</small>
            </h3>
        </div>
        <div class="col-lg-6 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center img-sizing" src="~/Content/Images/imageplaceholder.png" alt="">
            <h3>
                Rebecca Share
                <small>Director of Pharmacology</small>
            </h3>
        </div>
        <div class="col-lg-6 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center img-sizing" src="~/Content/Images/imageplaceholder.png" alt="">
            <h3>
                Michael Johnson
                <small>Director of IT</small>
            </h3>
        </div>
    </div>
</div>
