
@{
    ViewBag.Title = "AssayDetails";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Assay Details</h2>
            <h4>Item Number: 985346</h4>
            <form>
                <div class="form-group">
                    <label for="exampleSelect1">Hours Worked:</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>1/2 hour</option>
                        <option>1 hour</option>
                        <option>1 1/2 hour</option>
                        <option>2 hours</option>
                        <option>2 and 1/2 hours</option>
                        <option>3 hours</option>
                        <option>3 and 1/2 hours</option>
                        <option>4 hours</option>
                        <option>4 and 1/2 hours</option>
                        <option>5 hours</option>
                        <option>5 and 1/2 hours</option>
                        <option>6 hours</option>
                        <option>6 and 1/2 hours</option>
                        <option>7 hours</option>
                        <option>7 and 1/2 hours</option>
                        <option>8 hours</option>
                    </select>
                </div>
            </form>
            <h4>Material Used:</h4>
            <form>

                <div class="form-group">
                    <label for="exampleSelect1">Materials:</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>Tape</option>
                        <option>Glove</option>
                        <option>Salt Solution</option>
                        <option>Test Tube</option>
                        <option>Swabs</option>
                        <option>Filters</option>
                        <option>...</option>
                    </select>
                    <label for="exampleSelect1">Amount:</label>
                    <input type="text" class="form-control" />
                    <button type="submit" class="btn btn-primary">Add Material</button>



                </div>

            </form>
        </div>
    </div>
</div>




