@{
    ViewBag.Title = "Contact";
}

<h3>Seattle Office</h3>
<address>
    Your Address<br />
    Seattle, WA<br />
    <abbr title="Phone">P:</abbr>
    Your Phone
</address>

<h3>Singapore Lab</h3>
<address>
    Your Address<br />
    Singapore<br />
    <abbr title="Phone">P:</abbr>
    Your Phone
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@northwestlabs.com">Support@northwestlabs.com</a><br />
</address>