@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron customtron">
    <h1 style="margin-left: 200px; font-size: 140px; font-family: 'Agency FB'">Northwest Labs</h1>
    <h2 style="margin-left: 440px; ">Leaders In Pharmacology Testing</h2>
</div>
