
@{
    ViewBag.Title = "ShowProfitabilityReport";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Profitability Report</h2>
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Customer Number</th>
                        <th>Account Name</th>
                        <th>E-mail</th>
                        <th>Profitability during last year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">6541</th>
                        <td>Brantas Clinic</td>
                        <td>MarioBrantas@gmail.com</td>
                        <td>$141,546.00</td>
                    </tr>
                    <tr>
                        <th scope="row">6531</th>
                        <td>Larry Services</td>
                        <td>JorgeClinton@gmail.com</td>
                        <td>$822,207.00</td>
                    </tr>
                    <tr>
                        <th scope="row">5463</th>
                        <td>Public Clinic</td>
                        <td>Public.Clinic@outlook.com</td>
                        <td>$4,643,107.00</td>
                    </tr>
                    <tr>
                        <th scope="row">5469</th>
                        <td>Munta Search Advancements</td>
                        <td>MuntaSearch@gmail.com</td>
                        <td>$2,112,127.00</td>
                    </tr>
                    <tr>
                        <th scope="row">7456</th>
                        <td>Blabloid Medical Research</td>
                        <td>BlabloidResearch@live.com</td>
                        <td>$807,332.00</td>
                    </tr>
                    <tr>
                        <th scope="row">3541</th>
                        <td>Lab Research Clinic</td>
                        <td>LabReasearch@gmail.com</td>
                        <td>$246,234.00</td>
                    </tr>
                    <tr>
                        <th scope="row">3541</th>
                        <td>Mundial Clinic</td>
                        <td>Mundial.Clinic@gmail.com</td>
                        <td>$3,222,207.00</td>
                    </tr>
                    <tr>
                        <th scope="row">6541</th>
                        <td>Larry Services</td>
                        <td>Services@gmail.com</td>
                        <td>$807,435.00</td>
                    </tr>
                    <tr>
                        <th scope="row">4563</th>
                        <td>Christmas Clinic</td>
                        <td>ClinicsChris@gmail.com</td>
                        <td>$807,444.00</td>
                    </tr>
                    <tr>
                        <th scope="row">5463</th>
                        <td>Fandangos Research</td>
                        <td>Fandangos Research@gmail.com</td>
                        <td>$98,123.00</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td><strong>Total:</strong></td>
                        <td>$24,213,432.00</td>
                    </tr>
                </tbody>

            </table>
            <form>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Send to Manager and Marketing Directors<i class="fa fa-file-word-o"></i>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Approve</button>
                </div>
            </form>
        </div>
    </div>
</div>
