
@{
    ViewBag.Title = "WorkOrderDetails";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Work Order Details</h2>
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Item ID</th>
                        <th>Assay Type</th>
                        <th>Assay Started Date</th>
                        <th>Total hours Worked</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">985346</th>
                        <td>Name of Assay</td>
                        <td>11/21/2016 at 12:45:00</td>
                        <td>21</td>
                        <td><a href="@Url.Action("AssayDetails", "Home")" type="submit" class="btn btn-primary">Update Details</a></td>
                    <tr>
                        <th scope="row">894564</th>
                        <td>Name of Assay</td>
                        <td>11/23/2016 at 12:45:00</td>
                        <td>2</td>
                        <td><a href="@Url.Action("AssayDetails", "Home")" type="submit" class="btn btn-primary">Update Details</a></td>
                    </tr>
                    <tr>
                        <th scope="row">985346</th>
                        <td>Name of Assay</td>
                        <td>11/21/2016 at 12:45:00</td>
                        <td>12</td>
                        <td><a href="@Url.Action("AssayDetails", "Home")" type="submit" class="btn btn-primary">Update Details</a></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td><strong>Total:</strong></td>
                        <td>35</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>